.product {
   background-color: #445161;

}

.wrap {
   width: 1272px;
   margin: 0 auto;

}

.product-title {
   font-family: Arial;
   font-style: normal;
   font-weight: normal;
   font-size: 60px;
   line-height: 69px;
   color: #FFFFFF;
   margin-bottom: 36px;
   margin-top: 30px;
   margin-left: 50px;
}

.product-wrap {
   display: flex;
   justify-content: space-between;

}

.product-list {
   padding-left: 72px;
   list-style-image: url('../icons/li1.svg');

}



.product-list-item {
   font-family: Arial;
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   line-height: 32px;
   color: #FFFFFF;



}

.product-pic {
   background: #FFFFFF;
   width: 384px;
   height: 217px;
   margin-right: 70px;
   margin-top: 33px;
}

.About {
   font-family: Arial;
   font-style: normal;
   font-weight: normal;
   font-size: 30px;
   line-height: 36px;
   color: #445161;
   margin-top: 50px;
   margin-bottom: 15px;
   padding-left: 50px;
}

.about-p1 {
   font-family: Arial;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 24px;
   color: #445161;
   width: 646px;
   margin-top: 10px;
   padding-left: 50px;
   margin-bottom: 10px;
}

.about-p2 {
   font-family: Arial;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 24px;
   color: #445161;
   width: 646px;
   margin-top: 10px;
   padding-left: 50px;
}

.about-pic {
   background: #445161;
   width: 430px;
   height: 245px;
   margin-top: 48px;
   margin-right: 50px;
   margin-bottom: 50px;
}

.plus {
   background: #F5F5F5;
   height: 360px;
}

.plus-title {
   font-family: Arial;
   font-style: normal;
   font-weight: normal;
   font-size: 30px;
   line-height: 36px;
   color: #445161;
   display: flex;
   justify-content: center;
   margin-bottom: 16px;
   padding-top: 20px;

}

.plus-list {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   height: 300px;
   margin-left: 50px;
   margin-right: 20px;
   list-style-image: url('../icons/li2.svg');

}



.plus-list::marker {
   padding-top: 30px;
}

.Plus-list-item {
   font-family: Arial;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 24px;
   color: #445161;
   width: 556px;
   height: 72px;
   flex-direction: row;
   flex-wrap: wrap;
}

.screen-title {
   font-family: Arial;
   font-style: normal;
   font-weight: normal;
   font-size: 30px;
   line-height: 36px;
   color: #445161;
   display: flex;
   justify-content: center;
   padding-top: 15px;


}

.screen-wrap {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;

}

.screen-div-img {
   width: 202px;
   height: 153px;
   padding-right: 10px;
}

.screen-div {
   display: flex;
   width: 575px;
   height: 153px;
   padding: 20px;
   padding-bottom: 5px;

}

.screen-info {
   margin-bottom: 10px;
}

.screen-heading {
   font-family: Arial;
   font-style: normal;
   font-weight: normal;
   font-size: 24px;
   line-height: 30px;
   color: #445161;
   padding-left: 15px;
   margin-top: 0px;
   margin-bottom: 0px;


}

.screen-text {
   font-family: Arial;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 24px;
   color: #445161;
   width: 390px;
   padding-left: 15px;
}

.rewiew {
   background: #F5F5F5;
}

.rewiew-wrap {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;

}


.rewiew-title {
   font-family: Arial;
   font-style: normal;
   font-weight: normal;
   font-size: 30px;
   line-height: 36px;
   color: #445161;
   display: flex;
   justify-content: center;
   margin-top: 75px;
   margin-left: 15px;
   padding-top: 20px;

}

.rewiew-item-text {
   background: #EBEBEB;
   border-radius: 5px;
   width: 483px;
   height: 121px;
   padding: left 75px;
   display: inline-block;
   margin-bottom: 35px;
}

.rewiew-item-test1 {
   font-family: Roboto;
   font-style: italic;
   font-weight: normal;
   font-size: 14px;
   line-height: 18px;
   color: #445161;
   width: 458px;
   height: 45px;
   padding-left: 15px;

}

.rewiew-item-img {
   padding-bottom: 20px;
   margin-right: 10px;
}

.rewiew-item-text2 {
   font-family: Roboto;
   font-style: italic;
   font-weight: normal;
   font-size: 14px;
   line-height: 18px;
   color: #989898;
   padding-left: 15px;

}

.byitnow-title {
   font-family: Arial;
   font-style: normal;
   font-weight: normal;
   font-size: 30px;
   line-height: 36px;
   color: #445161;
   padding-top: 25px;
   margin-left: 20px;
   display: flex;

   justify-content: center;

}

.byitnow-item {
   background-color: #445162;
   width: 300px;
   border-radius: 5px;
   height: fit-content;
   align-self: flex-end;
   margin-right: 45px;

}

.byitnow-item-title {
   font-family: Arial;
   font-style: normal;
   font-weight: normal;
   font-size: 24px;
   line-height: 30px;
   color: #FFFFFF;
   display: flex;
   justify-content: center;
   margin-bottom: -35px;


}

.byitnow-item-wrap {
   display: flex;
   justify-content: center;
   padding-bottom: 50px;




}

.byitnow-item-price {
   background: #FFFFFF;
   font-family: Arial;
   font-style: normal;
   font-weight: normal;
   font-size: 40px;
   line-height: 30px;
   color: #445162;
   width: 300px;
   height: 71px;
   padding-left: 1px;
   border: 2px solid #445162;
   box-sizing: border-box;
   display: flex;
   justify-content: center;
   align-items: center
}

.byitnow-item-text {
   font-family: Arial;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 24px;
   color: #FFFFFF;
   display: block;
   margin-top: -25px;

}

.byitnow-form-but {
   font-family: Arial;
   font-style: normal;
   font-weight: bold;
   font-size: 18px;
   line-height: 18px;
   color: #445161;
   background: #FFFFFF;
   width: 260px;
   height: 40px;
   border-radius: 5px;
   margin-left: 20px;
   margin-bottom: 10px;
}

.Contacts {
   background-color: #445162;

}

.Contacts-title {
   font-family: Arial;
   font-style: normal;
   font-weight: normal;
   font-size: 30px;
   line-height: 36px;
   color: #FFFFFF;
   display: flex;
   justify-content: center;
   padding-top: 25px;
   background-color: #445162;
}

.contact-wrap {
   background-color: #445162;
   display: flex;
   justify-content: center;
}

.contact-leftside {
   width: 510px;
   height: 365px;
}

.contact-rigside {
   width: 510px;
   height: 365px;
}

.contacts-form {
   width: 500px;
   display: flex;
   flex-direction: column;

}

.contact-form-text {
   margin-bottom: 20px;
   border: radius 5px;
   font-family: Arial;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 24px;
   color: #445162;
   padding: 12px;
   border-radius: 5px;

}

.Contact-subinfo {
   margin-left: 50px;
}

.mtype {
   resize: none;
   max-width: 94.5%;
   min-width: 94.5%;
   min-height: 200px;
   max-height: 200px;
   border-radius: 5px;
   padding-bottom: 15px;

}

.contact-form-but {
   width: 143px;
   height: 43px;
   font-family: Arial;
   font-style: normal;
   font-weight: bold;
   font-size: 16px;
   line-height: 24px;

   margin-left: 170px;
   border-radius: 5px;
   margin-bottom: 20px;


   display: flex;
   justify-content: center;
   align-items: center;
   text-transform: uppercase;

   color: #445162;
}

.contact-subinfo-list-text {
   font-family: Arial;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 24px;

   color: #FFFFFF;
}

.contact-subinfo-list-item {
   padding-bottom: 15px;
}

.contact-subinfo-ico {
   margin-top: 35px;
   margin-left: 15px;
}

.footer {

   background: #F5F5F5;
}

.footer-name {
   font-family: Arial;
   font-style: normal;
   font-weight: normal;
   font-size: 12px;
   line-height: 24px;
   color: #445162;
   display: flex;
   justify-content: center;
}