.product {
   background-color: #445161;

}

.wrap {
   width: 1272px;
   margin: 0 auto;
   outline: 5px solid olivedrab;
}

.product-title {
   font-family: Arial;
   font-style: normal;
   font-weight: normal;
   font-size: 60px;
   line-height: 69px;
   color: #FFFFFF;
   margin-bottom: 36px;
   margin-top: 30px;
   margin-left: 50px;
}

.product-wrap {
   display: flex;
   justify-content: space-between;

}

.product-list {
   padding-left: 72px;
}

.product-list-item {
   font-family: Arial;
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   line-height: 32px;
   color: #FFFFFF;

}

.product-pic {
   background: #FFFFFF width: 472px;
   height: 217px;
   padding: 30px;
   padding-right: 50px;
}

.About {
   font-family: Arial;
   font-style: normal;
   font-weight: normal;
   font-size: 30px;
   line-height: 36px;
   color: #445161;
   margin-top: 50px;
   margin-bottom: 15px;
   padding-left: 50px;
}

.about-p1 {
   font-family: Arial;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 24px;
   color: #445161;
   width: 646px;
   margin-top: 10px;
   padding-left: 50px;
   margin-bottom: 10px;
}

.about-p2 {
   font-family: Arial;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 24px;
   color: #445161;
   width: 646px;
   margin-top: 10px;
   padding-left: 50px;
}

.about-pic {
   background: #445161;
   width: 430px;
   height: 245px;
   margin-top: 48px;
   margin-right: 50px;
   margin-bottom: 50px;
}

.plus {
   background: #F5F5F5;
   height: 360px;
}

.plus-title {
   font-family: Arial;
   font-style: normal;
   font-weight: normal;
   font-size: 30px;
   line-height: 36px;
   color: #445161;
   display: flex;
   justify-content: center;
   margin-bottom: 16px;
}

.plus-list {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   height: 300px;
   margin-left: 50px;
   margin-right: 20px;

}

.Plus-list-item {
   font-family: Arial;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 24px;
   color: #445161;
   width: 556px;
   height: 72px;
   flex-direction: row;
   flex-wrap: wrap;
}

.screen-title {
   font-family: Arial;
   font-style: normal;
   font-weight: normal;
   font-size: 30px;
   line-height: 36px;
   color: #445161;
}

.screen-heading {
   font-family: Arial;
   font-style: normal;
   font-weight: normal;
   font-size: 24px;
   line-height: 30px;
   color: #445161;
}

.screen-text {
   font-family: Arial;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 24px;
   color: #445161;
}

.rewiew {
   background: #F5F5F5;
}

.rewiew-title {
   font-family: Arial;
   font-style: normal;
   font-weight: normal;
   font-size: 30px;
   line-height: 36px;
   color: #445161;
}

.rewiew-item-test1 {
   font-family: Roboto;
   font-style: italic;
   font-weight: normal;
   font-size: 14px;
   line-height: 18px;
   color: #445161;

}

.rewiew-item-text2 {
   font-family: Roboto;
   font-style: italic;
   font-weight: normal;
   font-size: 14px;
   line-height: 18px;
   color: #989898;
}

.byitnow-title {
   font-family: Arial;
   font-style: normal;
   font-weight: normal;
   font-size: 30px;
   line-height: 36px;
   color: #445161;
}

.byitnow-item {
   background-color: #445162;
}

.byitnow-item-title {
   font-family: Arial;
   font-style: normal;
   font-weight: normal;
   font-size: 24px;
   line-height: 30px;
   color: #FFFFFF;
}

.byitnow-item-price {
   background: #FFFFFF;
   font-family: Arial;
   font-style: normal;
   font-weight: normal;
   font-size: 40px;
   line-height: 30px;
   color: #445162;
}

.byitnow-item-text {
   font-family: Arial;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 24px;
   color: #FFFFFF;
}

.byitnow-form-but {
   font-family: Arial;
   font-style: normal;
   font-weight: bold;
   font-size: 18px;
   line-height: 18px;
   color: #445161;
   background: #FFFFFF;
}

.Contacts {
   background-color: #445162;
}

.Contacts-title {
   font-family: Arial;
   font-style: normal;
   font-weight: normal;
   font-size: 30px;
   line-height: 36px;
   color: #FFFFFF;
}

.contact-subinfo-list-text {
   font-family: Arial;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 24px;

   color: #FFFFFF;
}

.footer {

   background: #F5F5F5;
}

.footer-name {
   font-family: Arial;
   font-style: normal;
   font-weight: normal;
   font-size: 12px;
   line-height: 24px;
   color: #445162;
}